<form action="/answer" method="get">
  <h1 id="title">Stupid Coaching</h1>
  <p id="intro">Ask your coach anything:</p>
  <div class = "container">
  <input type="text" name="ask" placeholder="Insert Question">
  <input type="submit" value="Ask" id = "ask_btn">
</div>
</form>
