// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#answer_page_question {
  font-family: arial;
}
#answer_page_answer {
  font-family: arial;
}
#title {
  font-family: arial;
}
#intro {
  font-family: arial;
}
#link {
  font-family: arial;
}
.container {
  margin: 0px;
  border-radius: 5px;
}
#ask_btn {
  background-color: #6490BE;
  border-radius: 5px;
}
